In [1]:
import pandas as pd
import numpy as np

In [3]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [4]:
df = pd.read_csv('gurgaon_properties.csv')

In [5]:
df.shape

(3954, 20)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3954 entries, 0 to 3953
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3954 non-null   object
 1   property_type    3954 non-null   object
 2   society          3953 non-null   object
 3   price            3954 non-null   float64
 4   price_per_sqft   3954 non-null   float64
 5   area             3954 non-null   float64
 6   areaWithType     3954 non-null   object
 7   bedRoom          3954 non-null   int64
 8   bathroom         3954 non-null   int64
 9   balcony          3954 non-null   object
 10  additionalRoom   3954 non-null   object
 11  address          3943 non-null   object
 12  floorNum         3932 non-null   float64
 13  facing           2782 non-null   object
 14  agePossession    3953 non-null   object
 15  nearbyLocations  3748 non-null   object
 16  description      3954 non-null   object
 17  furnishDetails   2926 non-null   object
 18  features         3248 non-null   object
 19  rating           3506 non-null   object
dtypes: float64(4), int64(2), object(14)
memory usage: 617.9+ KB

In [8]:
df.isnull().sum()

property_name         0
property_type         0
society               1
price                 0
price_per_sqft        0
area                  0
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom        0
address              11
floorNum             22
facing             1172
agePossession         1
nearbyLocations     206
description           0
furnishDetails     1028
features            706
rating              448
dtype: int64

In [10]:
df[df['society'].isnull()]

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2757,2 BHK Flat in Sector 78 Gurgaon,flat,NaN,0.6,3692.0,1625.0,Built Up area: 1625 (150.97 sq.m.),2,2,0,not available,"Gurgaon, Sector 78 Gurgaon, Gurgaon, Haryana",NaN,NaN,Under Construction,NaN,The property is under construction it's by rah...,[],NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."

In [12]:
df.insert(loc=3,column='sector',value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip())

In [13]:
df.head()

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2 BHK Flat in Krishna Colony,flat,maa bhagwati residency,Krishna Colony,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4.0,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,flat,apna enclave,Ashok Vihar,0.50,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1.0,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,flat,tulsiani easy in homes,Sohna,0.40,6722.0,595.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,"Sohna, Gurgaon, Haryana",12.0,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,flat,smart world orchard,Sector 61,1.47,12250.0,1200.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,"Sector 61 Gurgaon, Gurgaon, Haryana",2.0,NaN,Dec-23,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,flat,parkwood westend,Sector 92,0.70,5204.0,1345.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,"Sector 92 Gurgaon, Gurgaon, Haryana",5.0,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [14]:
df['sector'].value_counts()

Sohna                                                        163
Sector 102                                                   113
Sector 85                                                    110
Sector 92                                                    104
Sector 69                                                     94
Sector 90                                                     90
Sector 65                                                     90
Sector 81                                                     90
Sector 109                                                    88
Sector 79                                                     80
Sector 83                                                     69
Sector 86                                                     68
Sector 37D                                                    68
Sector 104                                                    66
Sector 107                                                    60
Sector 48                                                     58
Sector 108                                                    58
Sector 95                                                     57
Sector 56                                                     57
Sector 89                                                     56
Sector 70A                                                    55
Sector 37C                                                    53
Sector 70                                                     53
Palam Vihar                                                   52
Nirvana Country                                               52
Sector-33 Sohna                                               51
Sector 84                                                     51
Sector 67                                                     48
Sector 103                                                    45
DLF Phase 1                                                   44
Sector 113                                                    43
Sector 66                                                     42
Sector 82                                                     42
Sector 61                                                     42
DLF Phase 2                                                   41
Sector 106                                                    38
Sector 49                                                     36
Sector 99A                                                    32
Sushant Lok Phase 1                                           31
Sector 68                                                     30
Sector 72                                                     29
Sector 77                                                     29
Sector 54                                                     27
Sector 71                                                     27
Laxman Vihar                                                  26
DLF Phase 4                                                   25
Sector 112                                                    25
Sector 88A                                                    23
Sector 111                                                    22
Sector 67A                                                    22
DLF Phase 3                                                   21
Sector 82A                                                    20
Sector 22                                                     20
Sector 33                                                     20
Sector 78                                                     19
Sector 91                                                     18
Sector 63A                                                    18
Sector 74                                                     18
Sector 62                                                     17
Sushant Lok Phase 3                                           16
Sector 110                                                    16
Sector 99                                                     16
Sector 63                                                     15
Sector 60                                                     15
Sector 14                                                     15
DLF Phase 5                                                   14
Sector 1 Imt Manesar                                          14
Sector 76                                                     14
Rajendra Park                                                 14
Sector 53                                                     14
Gwal Pahari                                                   14
Sector 3                                                      14
Sector 52                                                     14
Laxman Vihar Phase 2                                          13
Sector 36A                                                    13
Uppals Southend                                               13
Sector 46                                                     13
Sector 38                                                     12
Sector 31                                                     12
Sector 50                                                     12
Sector 39                                                     12
Sohna Road                                                    12
Ashok Vihar Phase 3 Extension                                 11
Sector 93                                                     11
Sector 9A                                                     11
Sector 47                                                     11
Sector 55                                                     10
Sector 7                                                      10
Sector 1A IMT Manesar                                         10
C Block Sushant Lok Phase 1                                    9
South City 1                                                   9
Sector 95A                                                     9
Ashok Vihar Phase 2                                            9
Sector 4                                                       9
Dwarka Expressway                                              8
Palam Vihar Extension                                          8
Malibu Town                                                    8
Sector 89 A                                                    8
Sector 40                                                      8
Sector 43                                                      8
Sector 10A                                                     8
Mehrauli  Road                                                 8
Sector 59                                                      8
Sector 57                                                      8
Sector 26                                                      7
Surat Nagar 1                                                  7
Sector 36 Sohna                                                7
New Colony                                                     7
sector 58                                                      7
Sector 51                                                      7
Mianwali Colony                                                7
Sector 1                                                       6
Sector 11                                                      6
Greenwood City                                                 6
Ashok Vihar                                                    6
Sector 5                                                       6
Jyoti Park                                                     6
Rajiv Nagar                                                    6
Jacobpura                                                      6
Sector 23A                                                     5
Ansal Plaza                                                    5
Sector 80                                                      5
Sector 30                                                      5
Sector 105                                                     5
Dayanand Colony                                                5
Subhash Nagar                                                  5
Sushant Lok Phase 2                                            5
Arjun Nagar                                                    5
New Palam Vihar                                                5
Sector 9                                                       5
Sector 28                                                      5
Chakkarpur                                                     5
Saraswati Vihar                                                5
Manesar                                                        5
Sector 2                                                       5
Bhim Nagar                                                     4
Sector 17                                                      4
Suncity                                                        4
Madanpuri                                                      4
Garhi Harsaru                                                  4
Sector 3A                                                      4
Sector 12                                                      4
Vishnu Garden                                                  4
Baldev Nagar                                                   4
Surya Vihar                                                    4
Shivaji Nagar                                                  4
Devilal Colony                                                 4
Shivpuri                                                       4
Valley View Estate                                             4
Ravi Nagar                                                     4
Bhondsi                                                        4
IMT Manesar                                                    4
Sector 12A                                                     4
Sector 6                                                       4
Adarsh Nagar                                                   4
Krishna Colony                                                 4
Sector 36                                                      4
New                                                            4
Dharam Colony                                                  4
Sector 23                                                      3
Gandhi Nagar                                                   3
Laxmi Garden                                                   3
B Block Sushant Lok Phase 1                                    3
Patel Nagar                                                    3
MG Road                                                        3
Sector 8                                                       3
A Block Sushant Lok Phase 1                                    3
Maruti Kunj                                                    3
Sector 110 A                                                   3
Sector 88B                                                     3
Sector 27                                                      3
Sector 17B                                                     3
Sector 17A                                                     3
Sector 15                                                      3
Prem Nagar                                                     3
Sector 73                                                      3
Sector 45                                                      3
Sushant Lok                                                    2
Sector 24                                                      2
Mayfield Garden                                                2
, Delhi NCR                                                    2
Sector 15 Part 2                                               2
Sector-11 sohna                                                2
New Palam Vihar Phase 2                                        2
Golf Course Ext Road                                           2
Shakti Nagar                                                   2
Rosewood                                                       2
Ambience Island                                                2
New Basti                                                      2
Sector 41                                                      2
West Rajiv Nagar                                               2
Samaspur                                                       2
Sector 15 Part 1                                               2
Bhawani Enclave                                                2
Faridabad Road                                                 2
Mohan Nagar                                                    2
Lajpat Nagar                                                   2
IFFCO Chowk                                                    2
Sohna  Road                                                    2
Sispal Vihar                                                   2
Bissar                                                         2
Daulatabad                                                     2
Sector 21                                                      2
Farukhnagar                                                    2
Sector-2 Sohna                                                 2
Sheetla Colony                                                 2
Shankar Vihar                                                  2
Sector 32                                                      2
Surat Nagar                                                    2
Golf Course Road                                               2
Rajiv Chowk                                                    2
New Palam Vihar Phase 1                                        2
Block A Surya Vihar                                            2
Surat Nagar Phase 2                                            2
Pratap Nagar                                                   2
Manohar Nagar                                                  2
Nars                                                           2
Shanti Nagar                                                   2
Acharya Puri                                                   2
Hira Nagar                                                     2
Sector 5 chowk                                                 1
Sector 21A Faridabad                                           1
sector-5 sheetla colony                                        1
ravi nager basai road                                          1
Tekchand Nagar                                                 1
Near Khandsa Road                                              1
Nirvana country Pocket H                                       1
Godrej Aria , sector 79 ,                                      1
Rattan Garden                                                  1
HUDA Saraswati Vihar                                           1
Near euro                                                      1
Kanahi                                                         1
New Colony, Sector 7                                           1
G block DLF City Phase 1                                       1
near sector 1 market                                           1
Mahavir pura                                                   1
Laxman Vihar, Railway Road,                                    1
Sector-5 Sohna                                                 1
V Block DLF Phase 3                                            1
old delhi road, opp sector-14                                  1
Heritage City                                                  1
Ashok Vihar Phase I                                            1
Saraswati Enclave                                              1
Hno 13 Sagar enclave Sura                                      1
Sector 13                                                      1
URBAN ESTATE, SECTOR 5                                         1
Sultanpur                                                      1
Block H Ashok Vihar Phase III Extension                        1
ats marigold                                                   1
Vir Nagar                                                      1
Sector-7 Hous                                                  1
Sadar Bazar                                                    1
Part 3 Sector 5                                                1
Rajiv Colony                                                   1
Pataudi Road                                                   1
BPTP                                                           1
Khandsa                                                        1
Bhimgarh Kheri Phase 3                                         1
Hsiidc Plot Sector 1 Imt Manesar                               1
Ashok Vihar Phase 3                                            1
Ansal's Palam Vihar                                            1
Sector 17C                                                     1
saroop garden rajendra park                                    1
Jacobpura Near Sadar Bazar                                     1
Mahalaxmi Garden, Rajendra Place                               1
Near Pataudi Chowk                                             1
Om Nagar                                                       1
Shivji Park Colony                                             1
Jat Colony,Fazilpur/Taj Nagar Road                             1
B1 Block Sector 57                                             1
Sec 3 Bhim Vihar Part 1 Bhimgher Kheri                         1
laxmna vihar, phase 2                                          1
Kheri                                                          1
Sector 37B                                                     1
Damdma                                                         1
Anand Garden, Sector-105                                       1
Park View                                                      1
Begampur Khatola                                               1
Garauli Kalan                                                  1
Cyber City                                                     1
Lucknow                                                        1
devi lal colony gali no 12 gurgaon nr omkar public school      1
Sector 9B                                                      1
Alipur                                                         1
New Jyoti Park                                                 1
Bhora Kalan                                                    1
near nand hospital                                             1
South City                                                     1
Sai Kunj                                                       1
Civil L                                                        1
Sector-35 Sohna                                                1
Block G Sector-57                                              1
Gopal Nagar, Garhi Ghasita, Sonipat                            1
Carterpuri Village                                             1
Dhankot                                                        1
Sector 4 Urban Estate                                          1
Sector 42                                                      1
Sector 37A                                                     1
Ram Nagar                                                      1
Name: sector, dtype: int64

In [15]:
df['sector'] = df['sector'].str.lower()

In [16]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')
df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')
df['sector'] = df['sector'].str.replace('saraswati vihar','sector 28')
df['sector'] = df['sector'].str.replace('arjun nagar','sector 8')
df['sector'] = df['sector'].str.replace('ravi nagar','sector 9')
df['sector'] = df['sector'].str.replace('vishnu garden','sector 105')
df['sector'] = df['sector'].str.replace('bhondsi','sector 11')
df['sector'] = df['sector'].str.replace('surya vihar','sector 21')
df['sector'] = df['sector'].str.replace('devilal colony','sector 9')
df['sector'] = df['sector'].str.replace('valley view estate','gwal pahari')
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')
df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

In [17]:
a = df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [18]:
df['sector'].value_counts()

sohna road                    163
sector 102                    113
sector 85                     110
sector 92                     104
sector 69                      94
sector 65                      90
sector 81                      90
sector 90                      90
sector 109                     88
sector 79                      80
sector 104                     73
sector 83                      69
sector 37d                     68
sector 86                      68
sector 50                      64
sector 107                     60
sector 108                     58
sector 48                      58
sector 2                       57
sector 95                      57
sector 56                      57
sector 89                      56
sector 70a                     55
sector 70                      53
sector 43                      53
sector 37c                     53
sector 26                      51
sector 84                      51
sector-33 sohna road           51
sector 49                      49
sector 67                      48
sector 28                      46
sector 103                     45
sector 113                     43
sector 61                      42
sector 66                      42
sector 82                      42
sector 25                      41
sector 7                       39
sector 106                     38
sector 4                       35
sector 99a                     32
sector 54                      31
sector 12                      30
sector 68                      30
sector 72                      29
sector 77                      29
sector 71                      27
sector 112                     25
sector 57                      24
sector 24                      23
sector 105                     23
sector 88a                     23
sector 14                      23
sector 67a                     22
sector 111                     22
sector 22                      20
sector 33                      20
sector 3                       20
sector 82a                     20
sector 47                      19
sector 78                      19
sector 11                      19
sector 74                      18
sector 63a                     18
sector 91                      18
gwal pahari                    18
sector 62                      17
sector 99                      16
sector 110                     16
sector 63                      15
sector 60                      15
sector 55                      15
sector 53                      14
sector 76                      14
sector 1 manesar               14
sector 52                      14
sector 46                      13
sector 4 phase 2               13
sector 9                       13
sector 36a                     13
sector 6                       13
sector 38                      12
sector 39                      12
sector 31                      12
sohna road road                12
sector 41                      11
sector 93                      11
sector 3 phase 3 extension     11
sector 9a                      11
sector 13                      10
sector 1a manesar              10
sector 95a                      9
manesar                         9
sector 45                       9
sector 3 phase 2                9
c block sector 43               9
sector 40                       8
sector 59                       8
sector 89 a                     8
sector 17                       8
sector 2 extension              8
sector 10a                      8
sector 23                       8
sector 8                        8
dwarka expressway               8
sector 36 sohna road            7
sector 51                       7
sector 58                       7
sector 5                        6
sector 1                        6
sector 21                       6
sector 30                       5
sector 80                       5
new sector 2                    5
sector 23a                      5
sector 36                       4
new                             4
sector 12a                      4
sector 3a                       4
sector 27                       3
sector 17b                      3
maruti kunj                     3
a block sector 43               3
patel nagar                     3
sector 88b                      3
sector 17a                      3
sector 110 a                    3
sector 73                       3
sector 15                       3
b block sector 43               3
Name: sector, dtype: int64

In [19]:
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [20]:
df[df['sector'] == 'new']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2044,4 BHK Flat in New Gurgaon,flat,dlf 76,new,4.00,11428.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4,4,2,"study room,servant room","New Gurgaon, Gurgaon, Haryana",4.0,NaN,Jun-27,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN
2802,2 BHK Flat in New Gurgaon,flat,takshila heights sector 37 c,new,0.67,5583.0,1200.0,Super Built up area 1200(111.48 sq.m.),2,2,2,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN
2894,2 BHK Flat in New Gurgaon,flat,green court,new,0.38,5507.0,690.0,Carpet area: 690 (64.1 sq.m.),2,2,1,not available,"New Gurgaon, Gurgaon, Haryana",7.0,NaN,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN
2959,4 BHK Flat in New Gurgaon,flat,sare homes,new,0.85,4786.0,1776.0,Super Built up area 1776(165 sq.m.),4,4,3,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN

In [21]:
df.loc[955,'sector'] = 'sector 37'
df.loc[2800,'sector'] = 'sector 92'
df.loc[2838,'sector'] = 'sector 90'
df.loc[2857,'sector'] = 'sector 76'

In [22]:
df[df['sector'] == 'new sector 2']

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
29,2 BHK Flat in New Palam Vihar,flat,ompee k s residency,new sector 2,1.60,26936.0,594.0,Carpet area: 66 (55.18 sq.m.),2,2,2,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",We are the proud owners of this 2 bhk apartmen...,NaN,NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."
87,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.28,3166.0,884.0,Carpet area: 900 (83.61 sq.m.),2,1,1,others,"F 150/b, New Palam Vihar, Gurgaon, Haryana",2.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","2 bhk room with wooden coverd ,1 drawing room,...","['3 Wardrobe', '5 Light', '1 Chimney', '1 Modu...","['Water Storage', 'Park']","['Environment4 out of 5', 'Safety4 out of 5', ..."
2841,2 BHK Flat in New Palam Vihar,flat,my home,new sector 2,0.22,4400.0,500.0,Carpet area: 500 (46.45 sq.m.),2,2,1,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,0 to 1 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Cctv surveillance are provided here. There is ...,"['3 Fan', '1 Exhaust Fan', '15 Light', '1 Modu...",NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
3166,2 Bedroom House for sale in New Palam Vihar,house,my home,new sector 2,0.34,12592.0,270.0,Plot area 270(25.08 sq.m.),2,2,2,not available,"Ez-19 A, New Palam Vihar, Gurgaon, Haryana",3.0,West,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",There are availability of various facilities l...,"['1 Wardrobe', '3 Fan', '6 Light', 'No AC', 'N...","['Water Storage', 'Park', 'Visitor Parking']","['Environment4 out of 5', 'Lifestyle4 out of 5..."
3270,3 Bedroom House for sale in New Palam Vihar,house,independent,new sector 2,1.00,8796.0,1137.0,Plot area 120(100.34 sq.m.)Built Up area: 120 ...,3,2,2,pooja room,"Q-148, New Palam Vihar, Phase-2, Near Royal Oa...",1.0,North,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","Ground and first floor, Ground floor: Ground f...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [23]:
df.loc[[311,1072,1486,3040,3875],'sector'] = 'sector 110'

In [24]:
df.duplicated().sum()

13

In [31]:
df = df.drop_duplicates()

In [32]:
df.duplicated().sum()

0

In [33]:
df.sample(3)

,property_name,property_type,society,sector,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
759,3 BHK Flat in Sector 43 Gurgaon,flat,ansal maple heights,sector 43,1.5,12658.0,1185.0,Super Built up area 1400(130.06 sq.m.)Built Up...,3,3,3+,store room,"7-03, Sector 43 Gurgaon, Gurgaon, Haryana",7.0,North-East,10+ Year Old,"['Huda city centre metro station', 'Iffco chow...","Ansal maple heights in sector 43, gurgaon is a...","['3 Wardrobe', '1 Water Purifier', '10 Fan', '...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area4 out of 5', 'Construction4 out of..."
1072,4 BHK Flat in Gwal Pahari,flat,.,sector 110,7.0,11000.0,6364.0,Super Built up area 6000(557.42 sq.m.),4,4,3+,servant room,"Paras Quartier, Gurgaon-Faridabad Road, Gwal P...",6.0,South-West,1 to 5 Year Old,"['HANUMAN MANDIR', 'SHIV MANDIR BALIYAWAS', 'I...","South facing apartment, 4 bedrooms, 6000 sq.Ft...",[],"['Security / Fire Alarm', 'Intercom Facility',...",NaN
2415,2 BHK Flat in Sector 84 Gurgaon,flat,alpha corp gurgaonone,sector 84,1.2,9448.0,1270.0,Super Built up area 1270(117.99 sq.m.),2,2,1,not available,"Sector 84 Gurgaon, Gurgaon, Haryana",6.0,South-West,1 to 5 Year Old,"['Delhi Public School', 'Raheja Market', 'Sapp...",We are the proud owners of this 2 bhk apartmen...,NaN,"['Intercom Facility', 'Lift(s)', 'Maintenance ...","['Green Area5 out of 5', 'Construction5 out of..."

In [34]:
df.drop(columns=['property_name', 'address', 'description', 'rating'],inplace=True)

In [35]:
df.duplicated().sum()

121

In [36]:
df.to_csv('gurgaon_properties_cleaned_v1.csv',index=False)